<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613818118339-ifo4coi6vs1f2kb8mvej3j1ui8f9knel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613818118339-ifo4coi6vs1f2kb8mvej3j1ui8f9knel</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613818118339-3j29clqtsspojbsauel851ufva93c7o4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5jcQjX0KjyxcWhnl66XcGaq7WxgYa1bg</string>
	<key>GCM_SENDER_ID</key>
	<string>613818118339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CountingCarbs</string>
	<key>PROJECT_ID</key>
	<string>countingcarbs-4ac28</string>
	<key>STORAGE_BUCKET</key>
	<string>countingcarbs-4ac28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613818118339:ios:91c2cb994f2b607f9eb276</string>
</dict>
</plist>